services:
  chess-cg-app:
    build: .
    volumes:
      - .:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    environment:
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/tmp/.Xauthority
    network_mode: host  # CORRETTO: usa network_mode invece di network
    stdin_open: true
    tty: true
