

services:
  chess-cg-app:
    build: .
    volumes:
      - .:/app
    environment:
      - SDL_VIDEODRIVER=dummy
      - SDL_AUDIODRIVER=disk
      - XDG_RUNTIME_DIR=/tmp/runtime-root
  stockfish:
    image: niklasf/fishnet 
    container_name: stockfish-engine
    ports:
      - "8080:8080"